@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hell.<br />
    7 circle<br />
    <abbr title="Phone">P:</abbr>
    +375 29 866 23 12
</address>

<address>
    <strong>Support:</strong>   <a href="google.com">google.com</a><br />
    <strong>Email:</strong> <a href="ignatiklesha@gmail.com">ignatiklesha@gmail.com</a>
</address>