@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tasks Manager</h1>
    <p class="lead">Tasks Manager предназначен для отправления и получения заданий от других польхователей.</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Необходимо</h2>
        <p>
            Реализовать авторизацию и аунтефикацию пользователя.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Необходимо</h2>
        <p>Контроль хода выполнения задания. Метка заданий как выполненных и подтверждение выполненности заданий отправителем.</p>
       
    </div>
</div>