@model PagedList.IPagedList<TasksManager.Models.TaskViewModel>
@using PagedList.Mvc

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "All tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    //@Html.ActionLink("Show My Tasks", "ShowMyTasks", "Home")

    //@Html.ActionLink("Tasks for me", "TasksForMe", "Home")
    <a href="http://localhost:5100/Home/TasksForMe/"><img src="/Content/images/mytasks.jpg" width="400" 
  height="400" alt="My tasks"/></a>
    <a href="http://localhost:5100/Home/ShowMyTasks"><img src="/Content/images/mt.png" width="400" 
  height="400" alt="Created tasks"/></a>
}
else
{
    <h2> All Tasks</h2>

    <table>
        <tr>
            <th>
                <p class="text-info">
                    Name
                </p>
            </th>
            <th>
                <p class="text-info">
                    Description
                </p>
            </th>
            <th>
                <p class="text-info">
                    Checked
                </p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p class="text-success">
                        @Html.DisplayFor(modelItem => item.Name)
                    </p>
                </td>
                <td>
                    <p class="text-success">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </td>
                @if (item.Checked == true)
                {
                    <td>
                        <p class="text-success">Checked</p></td>
                }
                else
                {
                    <td>
                        <p class="text-success">Not checked</p></td>
                }

            </tr>
        }
    </table>

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

}