<div class="well">
    <div class="row ">
        <div><h3>Hello<h3><strong>@User.Identity.Name</strong></div>
        <div>
            <p class="btn btn-warning disabled">@Html.ActionLink("Log Off", "LogOff", "Account", null, new { @class = "btn btn-block btn-primary" })</p>
        </div>
    </div>
</div>