@*@model IEnumerable<TasksManager.Models.TaskViewModel>*@
@{
    ViewBag.Title = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var options = new AjaxOptions
    {
        UpdateTargetId = "tableBody",
        Url = Url.Action("GetJsonTasks", "Home"),
        OnSuccess = "processData"
    };
}
@if (User.Identity.IsAuthenticated)
{
    <h2> My Tasks</h2>
    <input type="button" onclick="processData(model)" />
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>
                    <p class="text-info">
                        Name
                        @*@Html.DisplayNameFor(model => model.Name)*@
                    </p>
                </th>
                <th>
                    <p class="text-info">
                        Description
                        @*@Html.DisplayNameFor(model => model.Description)*@
                    </p>
                </th>
                <th>
                    <p class="text-info">
                        Checked
                        @*@Html.DisplayNameFor(model => model.Checked)*@
                    </p>
                </th>
            </tr>
        </thead>
        <tbody id="tableBody">



            <table />
    </table>
}

<script src="~/Scripts/jquery-1.10.2-vsdoc.js"></script>
<script src="~/Scripts/todo.js"></script>

